@import 'src/scss/variables';
@import 'src/scss/colors';

.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.item {
  align-items: center;
  border-bottom: 0.1rem solid $mercury;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.item-title,
.empty-title {
  font-size: 1.2rem;
  line-height: 1.1;
  margin-right: 0.5rem;
}

.btn-item-delete {
  font-size: 1.3rem;

  &:hover > i,
  &:focus > i,
  &:active > i {
    color: lighten($mandy, 15%);
  }

  & > i {
    color: $mandy;
    transition: color $transition-duration $transition-function;
  }
}

.empty-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  text-align: center;
}

.empty-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.empty-explanation {
  font-size: 1.3rem;
  line-height: 1.1;
}

.empty-image {
  margin-bottom: 3rem;
  max-width: 100%;
  width: 14.5rem;
}
