<ul class="container">
  <ng-container *ngIf="data.length; else emptyCart">
    <li class="item" *ngFor="let book of data">
      <h6 class="item-title">{{book.name}} - {{book.author}}</h6>
      <button type="button" class="btn-item-delete" (click)="removeBookToCart(book.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </li>
  </ng-container>
  <ng-template #emptyCart>
    <div class="empty-container">
      <img class="empty-image" src="/assets/empty-cart.png" alt="Empty cart">
      <h6 class="empty-title">
        {{ 'HOME.BOOKS.EMPTY_CART_TITLE' | translate }}
      </h6>
      <p class="empty-explanation">
        {{ 'HOME.BOOKS.EMPTY_CART_MESSAGE' | translate }}
      </p>
    </div>
  </ng-template>
</ul>
