<div class="general-container">
  <form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <img class="logo" src="/assets/logo.png" alt="Angular training logo" />
    <ng-container *ngIf="isLoginVisible; else formSignUp">
      <app-input label="Email" formControlName="email" id="email"></app-input>
      <app-input label="Password" formControlName="password" id="password" type="password"></app-input>
    </ng-container>
    <ng-template #formSignUp>
      <app-input label="Name" id="firstName" formControlName="firstName"></app-input>
      <app-input label="Last name" id="lastName" formControlName="lastName"></app-input>
      <app-input label="Email" id="email" formControlName="email"></app-input>
      <app-input label="Password" id="password" formControlName="password" type="password"></app-input>
      <app-input label="Password confirmation" id="passwordConfirmation" formControlName="passwordConfirmation" type="password"></app-input>
    </ng-template>
    <button class="general-btn primary" type="submit" [disabled]="!form.valid">
      {{ isLoginVisible ? 'Login' : 'Sign Up' }}
    </button>
    <span class="separator"></span>
    <button class="general-btn secondary" type="button" (click)="toggleContent()">
      {{ isLoginVisible ? 'Sign Up' : 'Login' }}
    </button>
  </form>
</div>


