@import 'src/scss/variables';

.container {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(4, minmax(12.5rem, auto));
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  padding: #{$navbar-height + 2rem} 1rem 0;
  width: $max-container-width;
}

@media screen and (max-width: $tablet-break) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: $mobile-break) {
  .container {
    grid-template-columns: 1fr;
  }
}
