<nav class="navbar">
  <div class="content">
    <img class="logo" src="/assets/logo.png" alt="Angular training logo" />
    <div class="button-container">
      <button type="button" class="btn-shopping" (click)="toggleModal()">
        <i class="fas fa-shopping-cart"></i>
        <span *ngIf="quantity" class="badge">{{quantity}}</span>
      </button>
      <button type="button" class="btn-logout" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<app-modal headerTitle="Your shopoping car" [isOpen]="isModalOpen" (toggleModal)="toggleModal()">
  <app-shopping-cart-content></app-shopping-cart-content>
</app-modal>
