$max-container-width: 75rem;
$navbar-height: 4.4rem;

// Responsive
$tablet-break: 62rem;
$mobile-break: 48rem;

// Transitions
$transition-duration: 290ms;
$transition-function: cubic-bezier(0.79, 0.01, 0.38, 0.99);
