<div class="container">
  <a routerLink="/" class="link">
    <i class="fas fa-long-arrow-alt-left"></i>
    {{ 'HOME.BOOKS.BACK' | translate }}
  </a>
  <div class="card">
    <ng-container *ngIf="book; else noData">
      <div class="cover-container">
        <img class="cover" [src]="book.image" [alt]="book.name" />
      </div>
      <div class="card-content">
        <h2 class="card-title">
          {{book.name}}
          <span class="card-subtitle">({{book.genre}})</span>
        </h2>
        <div class="card-item">
          <span class="card-item-title">{{ 'HOME.BOOKS.AUTHOR' | translate }}</span>
          <span class="card-item-text">{{book.author}}</span>
        </div>
        <div class="card-item">
          <span class="card-item-title">{{ 'HOME.BOOKS.PUBLISHER' | translate }}</span>
          <span class="card-item-text">{{book.publisher}}</span>
        </div>
        <div class="card-item">
          <span class="card-item-title">{{ 'HOME.BOOKS.PUBLICATION' | translate }}</span>
          <span class="card-item-text">{{book.year}}</span>
        </div>
        <p class="card-item-text">{{book.summary}}</p>
      </div>
    </ng-container>
    <ng-template #noData>
      {{ 'HOME.BOOKS.NO_DATA' | translate }}
    </ng-template>
  </div>
</div>
